* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(127, 255, 212);
    font-family: monospace;
    border-radius: 15px;
}

.input-container {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

input {
    height: 30px;
    width: 35vw;
    font-size: 18px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

input:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

input[type='text'] {
    padding-left: 40px;
}


.image-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    justify-content: center;
}

h1 {
    text-align: center;
    padding-top: 2vh;
    font-size: 6vh;
    color: rgb(140, 43, 171)
}